.h2{
    font-family: 'Poppins', sans-serif;
    font-size: 18px; 
    font-weight: bold;
  margin-left: 80px;
  margin-top:30px;
  padding-top: -50px;
}.h1{
    line-height: 85px;
    font-weight: bold;
    margin-left: 80px;
    margin-top: 80px;
    padding-bottom: -30px;
    font-size:76px;
}@media(max-width: 756px){
    .h1{
        font-size: 57px;
}}.p{
    margin-left: 80px;
}.bht{
    margin-left: 80px;

}.img-avatar{
  margin-top: 20px;
    margin-left: 80px;
  max-width: 50%;  
}